<script setup lang="ts">
import { Bar } from 'vue-chartjs'
import {
  Chart as ChartJS,
  Title,
  Tooltip,
  Legend,
  BarElement,
  CategoryScale,
  LinearScale
} from 'chart.js'
import { ref } from 'vue';
ChartJS.register(CategoryScale, LinearScale, BarElement, Title, Tooltip, Legend)
const data = ref({
  labels: [
    'January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'
  ],
  datasets: [
    {
      label: 'Monthly sales',
      backgroundColor: '#C14545',
      data: [38, 65, 75, 40, 20, 12, 11, 63, 45, 26, 11, 14] // Data

    }
  ]
})


const options = ref({
  responsive: true,
  maintainAspectRatio: false
})

</script>
<template>
  <v-card width="452px" height="380px">
    <Bar :data="data" :options="options"></Bar>
  </v-card>
</template>