<script setup lang="ts">
import {
  Chart as ChartJS,
  CategoryScale,
  LinearScale,
  PointElement,
  LineElement,
  Title,
  Tooltip,
  Legend
} from 'chart.js'
import { Line } from 'vue-chartjs'
import * as chartConfig from 'vue-chartjs'

ChartJS.register(
  CategoryScale,
  LinearScale,
  PointElement,
  LineElement,
  Title,
  Tooltip,
  Legend
)

const data = {
  labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
  datasets: [
    {
      label: 'สาขา 1',
      backgroundColor: '#f87979',
      data: [40, 39, 18, 40, 39, 73, 40, 30, 30, 46, 36, 40]
    },
    {
      label: 'สาขา 2',
      backgroundColor: '#42A5F5',
      data: [10, 21, 15, 25, 26, 35, 60, 45, 12, 25, 45, 20]
    }
  ]
}

const options = {
  responsive: true,
  maintainAspectRatio: false
}

</script>
<template>
  <v-card width="453px" height="305px">
    <Line :data="data" :options="options">
    </Line>
  </v-card>
</template>