<script setup lang="ts">
import { Bar } from 'vue-chartjs'
import {
  Chart as ChartJS,
  Title,
  Tooltip,
  Legend,
  BarElement,
  CategoryScale,
  LinearScale
} from 'chart.js'
import { ref } from 'vue';
ChartJS.register(CategoryScale, LinearScale, BarElement, Title, Tooltip, Legend)
const data = ref({
  labels: [
    'Monday',
    'Tuesday',
    'Wednesday',
    'Thuesday',
    'Friday',
    'Saturday',
    'Friday',

  ],
  datasets: [
    {
      label: 'Daily sales',
      backgroundColor: '#FFCF68',
      data: [23, 39, 80, 46, 20, 12, 32]
    }
  ]
})

const options = ref({
  responsive: true,
  maintainAspectRatio: false
})

</script>
<template>
  <v-card width="452px" height="380px">
    <Bar :data="data" :options="options"></Bar>
  </v-card>
</template>