<script setup lang="ts">
import { onMounted, ref } from 'vue';
import { useBillHistoryDetailStore } from '@/stores/BillDetail';
import { useBillHistoryStore } from '@/stores/bill';
import bill from '@/services/bill';
import { useStoreStore } from '@/stores/store';
import LoadingDialog from './LoadingDialog.vue';
const BillDetail = useBillHistoryDetailStore();
const BillHistoryStore = useBillHistoryStore();
const store = localStorage.getItem("store")
const currentStore = JSON.parse(store!)


onMounted(async () => {
  await BillHistoryStore.GetBillHistory();
});


</script>

<template>
  <loading-dialog></loading-dialog>
  <v-dialog v-model="BillHistoryStore.showDialog" width="auto" transition="dialog-bottom-transition">
    <v-container>
      <v-card height="550px" width="470px" class="overflow-y-auto text-font2">
        <v-row>
          <v-col>
            <v-row class="justify-center" style="padding-top: 30px;">
              <v-icon color="black" icon="mdi-receipt-text-check-outline" size="40px"></v-icon>
            </v-row>
            <v-row class="justify-center"><v-card-title>ใบเสร็จรับเงิน</v-card-title></v-row>
            <v-row class="justify-center ">
              <div class="font-weight-bold">(Receipt)</div>
            </v-row>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-row style="padding-left: 25px;" cols="12">
              <v-col cols="5">ลูกค้า / customer: </v-col>
              <v-col cols="6">{{ BillHistoryStore.billItem?.employee.name }}</v-col>
            </v-row>
            <v-row style=" padding-left: 25px;" cols="12">
              <v-col cols="5">วันที่ / Issue: </v-col>
              <v-col cols="6">{{ BillHistoryStore.billItem?.date }}</v-col>
            </v-row>
            <v-divider class="ma-5"></v-divider>
            <v-row style="padding-left: 25px; padding-top: 5px;">
              <v-col>ผู้ขาย / vendor: {{ BillHistoryStore.billItem?.shop_name }}</v-col>
            </v-row>
            <v-divider class="ma-5"></v-divider>
          </v-col>
        </v-row>
        <v-row class="justify-center">
          <v-table>
            <thead>
              <tr>
                <th class="text-left">
                  id
                </th>
                <th class="text-left">
                  Description
                </th>
                <th class="text-left">
                  Qty.
                </th>
                <th class="text-left">
                  price
                </th>
                <th class="text-left">
                  total
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item of BillHistoryStore.billDetailsItem" :key="item.id">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.amount }}</td>
                <td>{{ item.price.toFixed(2) }}</td>
                <td>{{ item.total.toFixed(2) }}</td>
              </tr>
            </tbody>
          </v-table>
          <v-divider class="ma-5"></v-divider>
          <v-row style="padding-left: 45px;" cols="12" class="justify-end">
            <v-col cols="2"></v-col>
            <v-col class="font-weight-bold" cols="6">ราคารวมสุทธิ (บาท)</v-col>
            <v-col cols="4">{{ BillHistoryStore.billItem?.total.toFixed(2) }}</v-col>

          </v-row>
          <v-row style=" padding-left: 45px;" cols="12" class="justify-end">
            <v-col class="font-weight-bold" cols="6">จำนวนเงินที่รับมา (บาท) </v-col>
            <v-col cols="4">{{ BillHistoryStore.billItem?.buy.toFixed(2) }}</v-col>
          </v-row>
          <v-row style=" padding-left: 45px;" cols="12" class="justify-end">
            <v-col class="font-weight-bold" cols="6">เงินทอน (บาท)</v-col>
            <v-col cols="4">{{ BillHistoryStore.billItem?.change.toFixed(2) }}</v-col>
          </v-row>
        </v-row>
        <v-row style="padding-top: 30px;"></v-row>


        <v-card-actions>
          <v-btn color="primary" block @click="BillHistoryStore.showDialog = false">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-container>

  </v-dialog>
</template>

<style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@500&display=swap');

.text-container {
  display: inline-block;
  /* กำหนดให้เป็น inline-block element */

}

.text-font2 {
  font-family: 'Noto Sans Thai', sans-serif;
}
</style>