<script setup lang="ts">
import { useBillHistoryStore } from '@/stores/bill';
import { useMaterialStore } from '@/stores/Material';
import { computed, onMounted, ref } from 'vue';
import type { VForm } from 'vuetify/components';
const form = ref<VForm | null>(null);
const form2 = ref<VForm | null>(null);


async function saveitem() {
  const { valid } = await form.value!.validate();
  if (valid) {
    BillStore.addBillDeteil()
  }
}

async function save() {
  const { valid } = await form2.value!.validate();
  if (valid) {
    await BillStore.saveBillHistory()
  }
}

const Material = useMaterialStore();
const BillStore = useBillHistoryStore();

const total = computed(() => BillStore.add.amount * BillStore.add.price)


onMounted(async () => {
  await Material.getMaterial();
});
const mode = ref(true)
const AddNew = ref(false)
</script>
<template>
  <v-dialog v-model="BillStore.dialog" transition="dialog-bottom-transition" fullscreen :scrim="false"
  scrollStrategy="close" persistent>

  <v-card class="text-font2">
      <v-toolbar dark color="brown-darken-4">
        <v-btn icon dark @click="BillStore.dialog = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
        <v-spacer></v-spacer>
        <v-toolbar-items>
          <v-btn :disabled="BillStore.item.length == 0 ? true : false" variant="text" @click="save()">
            Save
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>
      <!-- {{ BillStore.editedBillHistory }} -->

      <v-form ref="form2">
        <v-container class="">
          <v-row>
            <v-card-title class="mr-1 mb-2 text-head "> <v-icon icon="mdi-cart-variant" size="40px" color="#472D2D"
                style="padding-top: 5px;"></v-icon>Bill History</v-card-title>
          </v-row>
          <v-row>
            <v-text-field label="Shop Name" v-model="BillStore.editedBillHistory.shop_name"
              :rules="[(v) => !!v || 'Item is required']"></v-text-field>
          </v-row>
          <!-- <v-row>
                  <v-text-field label="Total" v-model.number="BillStore.editedBillHistory.total"
                    :rules="[(v) => !!v || 'Item is required']"></v-text-field>
                </v-row> -->
          <v-row>
            <v-text-field label="Buy" v-model.number="BillStore.editedBillHistory.buy"
              :rules="[(v) => !!v || 'Item is required']"></v-text-field>
          </v-row>
          <!-- <v-row>
                  <v-text-field label="Change" v-model.number="BillStore.editedBillHistory.change" :rules="[(v) => v >= 0 || 'Item value is must be more than 0',
                  (v) => v.length != 0 || 'Item is required']"></v-text-field>
                </v-row> -->
          <v-row>
            <v-col cols="11"></v-col>
            <v-col cols="1"><v-btn color="brown" icon="mdi-plus" @Click="BillStore.select = true"></v-btn></v-col>
          </v-row>

          <v-table>
            <thead>
              <tr>
                <th class="text-center">
                  ID
                </th>
                <th class="text-center">
                  Name
                </th>
                <th class="text-center">
                  price
                </th>
                <th class="text-center">
                  amount
                </th>
                <th class="text-center">
                  total
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in BillStore.item" :key="item.name">
                <td class="text-center"> {{ item.materialId }}</td>
                <td class="text-center">{{ item.name }}</td>
                <td class="text-center">{{ item.price }}</td>
                <td class="text-center">{{ item.amount }}</td>
                <td class="text-center">{{ item.amount * item.price }}</td>
              </tr>
            </tbody>
          </v-table>
        </v-container>
      </v-form>
    </v-card>
  </v-dialog>
  <v-dialog v-model="BillStore.select" scrollStrategy="close" width="60vh">
    <v-card class="text-font2">
      <v-toolbar color="brown-darken-4" title="Select Material"></v-toolbar>
      <v-form ref="form">
        <v-container class="pa-9">
          <v-row>
            <v-autocomplete v-model="BillStore.temp" label="Material" item-title="name" returnObject
              :items="Material.Material" :rules="[(v) => !!v || 'Item is required']"></v-autocomplete>
          </v-row>
          <v-row>
            <v-text-field label="Price" v-model.number="BillStore.add.price" type="number"
              :rules="[(v) => !!v || 'Item is required']"></v-text-field>
          </v-row>
          <v-row>
            <v-text-field label="Amount" v-model.number="BillStore.add.amount" type="number"
              :rules="[(v) => !!v || 'Item is required']"></v-text-field>
          </v-row>
          <v-row>
            <v-text-field label="Total" type="number" v-model.number="total"
              :rules="[(v) => !!v || 'Item is required']"></v-text-field>
          </v-row>
        </v-container>
      </v-form>
      <v-card-actions class="justify-end">

        <v-btn @Click="BillStore.select = false">Close</v-btn>
        <v-btn @Click="saveitem()">Done</v-btn>
      </v-card-actions>
    </v-card>

  </v-dialog>
</template>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@500&display=swap');

.text-head {
  color: #3C2A21;
  font-family: 'Noto Sans Thai', sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
}


.text-font2 {
  font-family: 'Noto Sans Thai', sans-serif;
}
</style>