<script setup lang="ts">
import { useEmployeeStore } from '@/stores/Employee';
import { useMaterialStore } from '@/stores/Material';
import { useCheckmaterialStore } from '@/stores/checkmaterial';
import { computed, onMounted, ref } from 'vue';
import type { VForm } from 'vuetify/components';
import { useBillHistoryStore } from '@/stores/bill';
import ConfirmDialog from '@/components/ConfirmDialog.vue';

const checkMatStore = useCheckmaterialStore();
const employeeStore = useEmployeeStore();
const materialStore = useMaterialStore();
const form = ref<VForm | null>(null);
const BillStore = useBillHistoryStore()
const Material = useMaterialStore();
const confirmDlg = ref();

onMounted(async () => {
  await employeeStore.GetEmployee();
  await materialStore.getMaterial();
  await checkMatStore.getCheckM()
});
async function saveitem() {
  const { valid } = await form.value!.validate();
  if (valid) {
    checkMatStore.addCheckMD()
  }
}
const deleteCheckMat = async (id: number) => {
  try {
    await confirmDlg.value.openDialog("Please Confirm", `คุณต้องการลบ ID ที่ ${id} หรือไม่`);
    await checkMatStore.delCheckMD(id)
  } catch (e) { /* empty */ }
}
</script>
<template>
  <!-- Main Dialog -->
  <v-dialog v-model="checkMatStore.dialog" transition="dialog-bottom-transition" fullscreen :scrim="false"
    scrollStrategy="close">
    <v-card class="text-font2">
      <v-toolbar dark color="brown-darken-4">
        <v-btn icon dark @click="checkMatStore.dialog = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
        <v-spacer></v-spacer>
        <v-toolbar-items>
          <v-btn :disabled="checkMatStore.items.length == 0 ? true : false" variant="text"
            @click="checkMatStore.saveCheckMat()">
            Save
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>


    <v-card-text>
      <v-container>
          <v-row>
            <v-card-title>
              <span class="text-head"><v-icon icon="mdi-clipboard-check-multiple-outline" class="mr-1"></v-icon>Check
                Material</span>
            </v-card-title>
            <v-col cols="11"></v-col>
            <v-col cols="1">
              <v-btn color="brown" icon="mdi-plus" @Click="checkMatStore.select = true"></v-btn>
              <!-- <v-btn color="brown" rounded="lg" class="" @Click="checkMatStore.select = true">
                                                                              <v-icon icon="mdi-plus-circle" class="mr-1"></v-icon> -->
            </v-col>
            <v-col>
              <v-table fixed-header overflow-y-auto height="80vh" style="border-radius: 15px; overflow: auto;"
                class="overflow-y-auto">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>QTY Last</th>
                    <th>QTY Remain</th>
                    <th>QTY Expired</th>
                    <th>Operation</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item of checkMatStore.items" :key="item.materialId">
                    <td>{{ item.materialId }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.qty_last }}</td>
                    <td>{{ item.qty_remain }}</td>
                    <td>{{ item.qty_expire }}</td>
                    <td>
                      <!-- <v-btn variant="text" color="primary" :disabled="false" @click="checkMatStore.editCheckMD(item)">
                                                                                                            <v-icon icon="mdi-edit"></v-icon>
                                                                                                          </v-btn> -->
                      <v-btn variant="text" color="#853131" :disabled="false" @click="deleteCheckMat(item.materialId)">
                        <v-icon icon="mdi-delete"></v-icon>
                      </v-btn>
                    </td>
                  </tr>
                </tbody>
              </v-table>
              <!-- {{ checkMatStore.items }} -->
            </v-col>
          </v-row>


        </v-container>

      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
      </v-card-actions>
    </v-card>
  </v-dialog>
  <!-- sub Dialog -->
  <v-dialog v-model="checkMatStore.select" width="60vh">
    <v-card class="text-font2">
      <v-toolbar color="brown-darken-4" title="Select Material"></v-toolbar>
      <v-form ref="form">
        <v-container class="pa-9">
          <v-row>
            <v-autocomplete v-model="checkMatStore.temp" label="Material" item-title="name" returnObject
              :items="Material.Material" :rules="[(v) => !!v || 'Item is required']"></v-autocomplete>
          </v-row>
          <v-row>
            <v-chip label color="primary" class="mb-5">
              QTY Last: {{ checkMatStore.editedCheckMat.qty_last }}
            </v-chip>
          </v-row>
          <v-row>
            <v-text-field label="QTY Remain" v-model.number="checkMatStore.editedCheckMat.qty_remain" type="number"
              :rules="[(v) => !!v || 'Item is required']"></v-text-field>
          </v-row>
          <v-row>
            <v-text-field label="QTY Expired" v-model.number="checkMatStore.editedCheckMat.qty_expire" type="number"
              :rules="[(v) => v.length != 0 || 'Item is required',
              (v) => v >= 0 || 'Item must be more than 0']"></v-text-field>
          </v-row>
        </v-container>
        <!-- {{ checkMatStore.editedCheckMat }} -->
      </v-form>
      <v-card-actions class="justify-end">

        <v-btn @click="checkMatStore.select = false">Close</v-btn>
        <v-btn @Click="saveitem()">Done</v-btn>
      </v-card-actions>
    </v-card>

  </v-dialog>
  <ConfirmDialog ref="confirmDlg"></ConfirmDialog>
</template>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@500&display=swap');

.text-head {
  color: #3C2A21;
  font-family: 'Noto Sans Thai', sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
}

.text-font2 {
  font-family: 'Noto Sans Thai', sans-serif;
}
</style>