<script setup lang="ts">
import { useCheckmaterialStore } from '@/stores/checkmaterial';
import { computed, onMounted, ref } from 'vue';


import ConfirmDialog from '@/components/ConfirmDialog.vue';
import LoadingDialogVue from './LoadingDialog.vue';

const checkMatStore = useCheckmaterialStore();

const confirmDlg = ref();


onMounted(async () => {
  await checkMatStore.getCheckM();
});

</script>
<template>
  <LoadingDialogVue></LoadingDialogVue>
  <!-- Main Dialog -->
  <v-dialog  v-model="checkMatStore.dialogcheck" transition="dialog-bottom-transition" width="auto">
    <v-card color="#C3B091" height="600px" width="600px" class="text-font2">

      <v-container>
        <v-row>
          <v-card-title>
            <span class="text-head"><v-icon icon="mdi-file-document-multiple-outline" class="mr-1"></v-icon>Material Detail</span>
          </v-card-title>
          <v-col cols="11"></v-col>

          <v-col>
            <v-table height="80vh" style="border-radius: 15px; ">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>QTY Last</th>
                  <th>QTY Remain</th>
                  <th>QTY Expired</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item of checkMatStore.checkMatDetailitem" :key="item.name">
                  <td>{{ item.id }}</td>
                  <td>{{ item.name }}</td>
                  <td>{{ item.qty_last }}</td>
                  <td>{{ item.qty_remain }}</td>
                  <td>{{ item.qty_expire }}</td>
                </tr>
              </tbody>
            </v-table>
          </v-col>
        </v-row><v-card-actions>
          <v-btn color="3C2A21" block @click="checkMatStore.dialogcheck = false">Close</v-btn>
          </v-card-actions>
   
          

        
      </v-container>



    </v-card>
  </v-dialog>
  <!-- sub Dialog -->

  <ConfirmDialog ref="confirmDlg"></ConfirmDialog>
</template>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@500&display=swap');

.text-head {
  color: #3C2A21;
  font-family: 'Noto Sans Thai', sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
}

.text-font2 {
  font-family: 'Noto Sans Thai', sans-serif;
}
</style>