<script lang="ts" setup>
import { useEmployeeStore } from '@/stores/Employee';
import { onMounted, ref } from 'vue';
import { useUserStore } from '@/stores/User';
import type { VForm } from 'vuetify/components';
import { useAuthStore } from '@/stores/auth';
const userStore = useUserStore();
const form = ref<VForm | null>(null);
const employeeStore = useEmployeeStore();

const auth = useAuthStore();
async function save() {

  const { valid } = await form.value!.validate();
  if (valid) {
    
    await employeeStore.saveEmployee();
    await userStore.GetUserNotEmp();

  }
}
onMounted(async () => {
  await userStore.GetUserNotEmp();
});
</script>
<template>
  <v-dialog v-model="employeeStore.dialog" persistent width="1024">
    <v-card class="text-font2">
      <v-card-title>
        <span class="text-h5">Employee</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-autocomplete v-model="employeeStore.userId" v-if="!employeeStore.editedEmployee.id"
                  :items="userStore.UserIsNotEmp" required item-title="email" item-value="id"
                  label="Select"></v-autocomplete>
                <v-text-field label="Name*" :rules="[
                  (v) => !!v || 'Name is required.',
                  (v) =>
                    v.length >= 3 ||
                    'The name must be greater than or equal to 3 characters and a maximum of 128 characters.',
                ]" required v-model="employeeStore.editedEmployee.name"></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field label="Tel*" :rules="[
                  (v) => !!v || 'Tel is required.',
                  (v) =>
                    v.length == 10 ||
                    'Tel must be equal 10 characters.',
                ]" required v-model="employeeStore.editedEmployee.tel"></v-text-field>
              </v-col>

              <v-col cols="12">
                <v-text-field label="Email*" :rules="[
                  (v) => !!v || 'Email is required.',
                  (v) =>
                    v.length >= 8 ||
                    'Email must be more than or equal 8 characters and a maximum of 128 characters.',
                ]" required v-model="employeeStore.editedEmployee.email"></v-text-field>
              </v-col>

              <v-col cols="12">
                <v-text-field label="Address*" :rules="[
                  (v) => !!v || 'Address is required.',
                  (v) =>
                    v.length >= 4 ||
                    'Address must be more than or equal 4 characters and a maximum of 128 characters.',
                ]" required v-model="employeeStore.editedEmployee.address"></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field label="Hourly wage" type="number" :rules="[
                  (v) => !!v || 'Hourly wage.'
                ]" required v-model.number="employeeStore.editedEmployee.hourly_wage"></v-text-field>
              </v-col>

              <v-col cols="12">
                <v-select :disabled="auth.account?.role! == 'employee'? true:false" :items="['manager', 'employee']" label="Role*" :rules="[
                  (v) => !!v || 'Role is required.',
                ]" required v-model="employeeStore.editedEmployee.position"></v-select>
              </v-col>

            </v-row>
          </v-container>
        </v-form>
        <small>*indicates required field</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue-darken-1" variant="text" @click="employeeStore.dialog = false">
          Close
        </v-btn>
        <v-btn color="blue-darken-1" variant="text" @click="save">
          Save
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@500&display=swap');

.text-font2 {
  font-family: 'Noto Sans Thai', sans-serif;
}
</style>