<script setup lang="ts">
import { useProductStore } from '@/stores/Product';
import { useCategoryStore } from '@/stores/category';
import { useOrderStore } from '@/stores/Order';
import { onMounted, ref } from 'vue';
const ProductStore = useProductStore();
const MenuOptiondialog = ref(false)
const CategoryStore = useCategoryStore();
const orderStore = useOrderStore();

onMounted(async () => {
  const CategoryStore = useCategoryStore();


});
</script>

<template>
  <v-dialog v-model="ProductStore.dialogAdd" width="auto">
    <v-card height="500px" width="80vh" class="overflow-visible" v-if="ProductStore.editedProduct.categoryId == 1">
      <v-card-title class="text-font">
        Option เครื่องดื่ม
      </v-card-title>

      <v-row style="padding-left: 50px; padding-top: 10px;">
        <v-row>
          <v-card-title class="text-font">
            เลือกขนาด
            <v-chip-group>
              <v-chip filter variant="outlined" selected-class="text-primary">S</v-chip>
              <v-chip filter variant="outlined" selected-class="text-primary">M</v-chip>
              <v-chip filter variant="outlined" selected-class="text-primary">L</v-chip>
            </v-chip-group>
          </v-card-title>
        </v-row>
      </v-row>

      <v-row style="padding-left: 50px; padding-top: 10px;">
        <v-row>
          <v-card-title class="text-font">
            เลือกประเภท
            <v-chip-group>
              <v-chip filter variant="outlined" selected-class="text-primary">ร้อน</v-chip>
              <v-chip filter variant="outlined" selected-class="text-primary">เย็น</v-chip>
              <v-chip filter variant="outlined" selected-class="text-primary">ปั่น</v-chip>
            </v-chip-group>
          </v-card-title>
        </v-row>
      </v-row>


      <v-row style="padding-left: 50px;">
        <v-row>
          <v-card-title class="text-font">
            เลือกความหวาน
            <v-chip-group>
              <v-chip filter variant="outlined" selected-class="text-primary">หวาน 0%</v-chip>
              <v-chip filter variant="outlined" selected-class="text-primary">หวาน 25%</v-chip>
              <v-chip filter variant="outlined" selected-class="text-primary">หวาน 50%</v-chip>
              <v-chip filter variant="outlined" selected-class="text-primary">หวาน 75%</v-chip>
              <v-chip filter variant="outlined" selected-class="text-primary">หวาน 100%</v-chip>
            </v-chip-group>
          </v-card-title>
        </v-row>
      </v-row>


      <v-row style="padding-left: 50px; padding-top: 10px;">
        <v-card-title class="text-font">
          เพิ่มเติม
          <v-row style="padding-top: 20px; padding-left: 5px;">
            <v-chip-group>
              <v-chip filter variant="outlined" selected-class="text-primary">เพิ่มวิป</v-chip>
              <v-chip filter variant="outlined" selected-class="text-primary">ผงโอวัลติน</v-chip>
              <v-chip filter variant="outlined" selected-class="text-primary">java chip</v-chip>
            </v-chip-group>

          </v-row>
          <v-row>
            <v-chip-group>
              <v-chip filter variant="outlined" selected-class="text-primary">ซอสช็อคโกแลต</v-chip>
              <v-chip filter variant="outlined" selected-class="text-primary">ซอสคาราเมล</v-chip>
              <v-chip filter variant="outlined" selected-class="text-primary">ซอสตรอเบอร์รี่</v-chip>
            </v-chip-group>

          </v-row>
        </v-card-title>
      </v-row>


      <v-row style="padding-top: 20px;"></v-row>




      <v-card-actions>
        <v-row>
          <v-col><v-btn color="error" block @click="ProductStore.dialogAdd = false"><v-icon
                icon="mdi-close-thick"></v-icon>
              Cancle</v-btn></v-col>
          <v-col>
            <v-btn color="secondary" block @click="orderStore.addOrderItem(ProductStore.editedProduct)">
              <v-icon icon="mdi-check-bold"></v-icon>
              Comfirm</v-btn>
          </v-col>
        </v-row>
      </v-card-actions>


    </v-card>

    <v-card height="120px" width="55vh" class="overflow-visible text-font"
      v-if="ProductStore.editedProduct.categoryId == 2">
      <v-card-title>
        กด Confirm เพื่อเลือกสินค้า
      </v-card-title>
      <v-row style="padding-top: 20px;"></v-row>

      <v-card-actions>
        <v-row>
          <v-col><v-btn color="error" block @click="ProductStore.dialogAdd = false"><v-icon
                icon="mdi-close-thick"></v-icon>
              Cancle</v-btn></v-col>
          <v-col><v-btn color="secondary" block @click="orderStore.addOrderItem(ProductStore.editedProduct)"><v-icon
                icon="mdi-check-bold"></v-icon>
              Comfirm</v-btn></v-col>
        </v-row>
      </v-card-actions>



    </v-card>

    <v-card height="300px" width="90vh" class="overflow-visible" v-if="ProductStore.editedProduct.categoryId == 3">
      <v-card-title>
        Option อาหาร
      </v-card-title>

      <v-row style="padding-left: 50px; padding-top: 10px;">
        <v-row>
          <v-card-title>
            เลือกประเภท
            <v-chip-group>
              <v-chip filter variant="outlined" selected-class="text-primary">ธรรมดา</v-chip>
              <v-chip filter variant="outlined" selected-class="text-primary">พิเศษ</v-chip>
            </v-chip-group>
          </v-card-title>
        </v-row>
      </v-row>

      <v-row style="padding-left: 50px; padding-top: 10px;">
        <v-row>
          <v-card-title>
            เพิ่มท็อปปิ้ง
            <v-chip-group>
              <v-chip filter variant="outlined" selected-class="text-primary">เพิ่มไข่ดาว</v-chip>
              <v-chip filter variant="outlined" selected-class="text-primary">เพิ่มไส้กรอก1ชิ้น
              </v-chip>
              <v-chip filter variant="outlined" selected-class="text-primary">เพิ่มชีส</v-chip>
              <v-chip filter variant="outlined" selected-class="text-primary">เพิ่มผักสลัด</v-chip>
            </v-chip-group>
          </v-card-title>
        </v-row>
      </v-row>


      <v-row style="padding-top: 20px;"></v-row>




      <v-card-actions>
        <v-row>
          <v-col><v-btn color="error" block @click="ProductStore.dialogAdd = false"><v-icon
                icon="mdi-close-thick"></v-icon>
              Cancle</v-btn></v-col>
          <v-col><v-btn color="secondary" block @click="orderStore.addOrderItem(ProductStore.editedProduct)"><v-icon
                icon="mdi-check-bold"></v-icon>
              Comfirm</v-btn></v-col>
        </v-row>
      </v-card-actions>


    </v-card>
  </v-dialog>
</template>

<style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@500&display=swap');

.text-font {
  font-family: 'Noto Sans Thai', sans-serif;
}

.text-font2 {
  font-family: 'Noto Sans Thai', sans-serif;
}
</style>