<script setup lang="ts">
import ConfirmDialog from "@/components/ConfirmDialog.vue";
import { useCustomerStore } from "@/stores/Customer";
import { useOrderStore } from "@/stores/Order";
import { useUserStore } from "@/stores/User";
import { onMounted, ref } from "vue";
import type { VForm } from "vuetify/components";
import LoadingDialog from "./LoadingDialog.vue";
import MessageDialog from "./MessageDialog.vue";
import CustomerDialog from "./CustomerDialog.vue";
const OrderStore = useOrderStore();
const AddCustomerStore = useCustomerStore();
const CustomerStore = useCustomerStore();
const form = ref<InstanceType<typeof VForm> | null>(null);
const reset = () => {
  form.value?.reset();
};
onMounted(() => {
  AddCustomerStore.GetCustomers()
  CustomerStore.getCustomerID(23)
})
async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await OrderStore.submitOrder();
  }
}
</script>
<template>
  <CustomerDialog></CustomerDialog>
  <v-dialog v-model="OrderStore.dialog" transition="dialog-bottom-transition" width="60vh" scrollStrategy="close">
    <v-card class="text-font2">
      <v-toolbar color="brown-darken-4" title="Payment">
      </v-toolbar>
      <v-container>
        <v-row cols="12" style="padding-right: 20px; padding-top: 10px;">
          <v-col class="pt-1 pl-4" cols="6">
            <v-radio-group column>
              <v-radio label="ไม่เป็นสมาชิก" value="1" v-model="OrderStore.member"
                @click="OrderStore.model = false, OrderStore.member = CustomerStore.noMember" color="success"></v-radio>
              <v-radio label="เป็นสมาชิก" @click="OrderStore.model = true, OrderStore.tmp = ''" color="success"></v-radio>
            </v-radio-group>
          </v-col>
          <v-col cols="6">
            <v-btn color="brown-darken-2" width="100%" @click.stop="CustomerStore.dialog = !CustomerStore.dialog"
              style="padding-left: 25px; ">
              <v-icon icon="mdi-account-multiple-plus" size="25" style="padding-right: 15px;"> </v-icon>add Member
            </v-btn>
          </v-col>
        </v-row>
        <v-row cols="12" style="padding-left: 20px; padding-right: 20px;">
          <v-autocomplete clearable :disabled="!OrderStore.model" variant="outlined" :items="CustomerStore.Customers"
            item-title="tel" return-object v-model="OrderStore.member" label="Member" placeholder="Select..." required
            :rules="[v => !!v || 'Member is required']" class="form-input"></v-autocomplete>
        </v-row>

        <v-row style="padding-left: 20px; padding-right: 20px;">
          <!-- Point -->
          <v-chip color="#FBC02D" class="mt-3" clearable v-if="OrderStore.member?.name != 'ไม่เป็นสมาชิก'">{{
            OrderStore.member?.point }} Point<v-icon style="padding-left: 10px;"
              icon="mdi-diamond-stone"></v-icon></v-chip>
          <v-chip color="#FBC02D" class="mt-3" clearable v-if="OrderStore.member?.name == 'ไม่เป็นสมาชิก'">
            ไม่เป็นสมาชิก<v-icon style="padding-left: 10px;" icon="mdi-diamond-stone"></v-icon></v-chip>
          <!--  -->
        </v-row>

        <v-row style="padding-left: 20px; padding-right: 20px;">
          <v-chip-group filter v-if="OrderStore.member?.name != 'ไม่เป็นสมาชิก'">
            <v-chip :disabled="OrderStore.member?.point! >= 7 ? false : true"
              @click="OrderStore.discount.discount = 35, OrderStore.total = OrderStore.total - OrderStore.discount.discount">ลด
              35 บาท / 7 Point</v-chip>

            <v-chip :disabled="OrderStore.member?.point! >= 10 ? false : true"
              @click="OrderStore.discount.discount = 50, OrderStore.total - OrderStore.discount.discount">ลด 50 บาท / 10
              Point</v-chip>

            <v-chip :disabled="OrderStore.member?.point! >= 15 ? false : true"
              @click="OrderStore.discount.discount = 75, OrderStore.total - OrderStore.discount.discount">ลด 75 บาท / 15
              Point</v-chip>
          </v-chip-group>
          <v-chip-group filter v-if="OrderStore.member?.name == 'ไม่เป็นสมาชิก'">
            <v-chip disabled @click="OrderStore.discount.discount = 35, OrderStore.discount.point = 7">ลด 35 บาท / 7
              Point</v-chip>

            <v-chip disabled @click="OrderStore.discount.discount = 50, OrderStore.discount.point = 10">ลด 50 บาท / 10
              Point</v-chip>

            <v-chip disabled @click="OrderStore.discount.discount = 75, OrderStore.discount.point = 15">ลด 75 บาท / 15
              Point</v-chip>
          </v-chip-group>
        </v-row>

        <v-row style="padding-left: 10px; padding-right: 10px;">
          <v-col cols="12 ">
            <v-form ref="form">
              <v-text-field label="Received" v-model.number="OrderStore.recevied" variant="outlined"
                :rules="[(v) => v >= OrderStore.total || 'recevied must be more ']">
              </v-text-field>
            </v-form>
          </v-col>
        </v-row>
      </v-container>
      <LoadingDialog></LoadingDialog>
      <MessageDialog></MessageDialog>

      <v-card-actions class="justify-end">
        <v-btn variant="text" @Click="OrderStore.dialog = false, reset">Close</v-btn>
        <v-btn @Click="save">Done</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@500&display=swap');

.text-font2 {
  font-family: 'Noto Sans Thai', sans-serif;
}
</style>
