<script lang="ts" setup>
import { useOrderStore } from '@/stores/Order';
import { onMounted, ref } from 'vue';
import LoadingDialog from './LoadingDialog.vue';
import { useCustomerStore } from '@/stores/Customer';

onMounted(async () => {
  await OrderStore.getOrders()
  await CustomerStore.GetCustomers();

})

const CustomerStore = useCustomerStore();
const OrderStore = useOrderStore();
</script>
<template >
  <LoadingDialog></LoadingDialog>
  <v-container id="myComponent">
    <v-dialog v-model="OrderStore.dialogBill" width="auto" transition="dialog-bottom-transition" class="over">
      <v-card height="550px" width="360px">
        <v-row class="justify-center pt-4">
          <v-avatar color="white"
            image="https://media.discordapp.net/attachments/896296119095660576/1087371499037540522/DCLogo.png"
            size="120"></v-avatar></v-row>
        <v-row width="100%" style=" " class="text-fonts justify-center">
          <v-list-item class="text-center">
            <v-list-item-title>D-Coffee</v-list-item-title>
            <v-list-item-subtitle>Welcome to D-coffee</v-list-item-subtitle>
            <v-list-item-subtitle>กาแฟที่ดีต้อง"ดี-คอฟฟี่"</v-list-item-subtitle>
          </v-list-item>
          <v-row class=" justify-center text-line">============================</v-row>
        </v-row>

        <v-row width="100%" style=" padding-left: 50px;" class="text-fonts ma-1 mt-6"> <v-list-item-subtitle
            class="mr-3">ID:{{ OrderStore.orderBill?.id }}</v-list-item-subtitle>
          <v-list-item-subtitle class="mr-4">{{ OrderStore.orderBill?.time.substring(0, 10)
          }} </v-list-item-subtitle></v-row>
      <v-row width="100%" style=" padding-left: 50px;" class="text-fonts ma-1"><v-list-item-subtitle>staff: {{
        OrderStore.orderBill?.employee.name }}</v-list-item-subtitle></v-row>
      <v-row width="100%" style=" padding-left: 50px;" class="text-fonts ma-1"><v-list-item-subtitle class=" mr-4">Date:
          {{
            OrderStore.orderBill?.createdDate.substring(0, 10)
          }} </v-list-item-subtitle></v-row>







        <v-row>
          <!-- <v-col col="2"><v-list-item-subtitle>ID:{{ OrderStore.orderBill?.id }}</v-list-item-subtitle></v-col>
                                                                                                                                                                                                <v-col col="5"> <v-list-item-subtitle>{{ OrderStore.orderBill?.createdDate.substring(0, 10)
                                                                                                                                                                                                    }} </v-list-item-subtitle></v-col>
                                                                                                                                                                                                <v-col col="5"> <v-list-item-subtitle>{{ OrderStore.orderBill?.time.substring(0, 10)
                                                                                                                                                                                                    }} </v-list-item-subtitle>
                                                                                                                                                                                                </v-col> -->
        </v-row>
        <!-- <v-row width="100%" style=" padding-left: 50px; padding-right: 27px;" class="text-fonts ">
                                                                                                                                                                                                                                                              <v-col></v-col>
                                                                                                                                                                                                                                                            <v-col class="" cols="6"><v-list-item-subtitle>{{ OrderStore.orderBill?.time.substring(0, 10)
                                                                                                                                                                                                                                                              }}</v-list-item-subtitle></v-col></v-row> -->
        <v-row>

          <v-row width="100%" style=" padding-left: 50px; padding-right: 27px;" class="text-fonts">
            <v-row class="justify-center pl- pr-5 text-line">____________________________</v-row>
            <v-col>

              <v-row></v-row>
              <v-row class="pl-5" v-for="item of OrderStore.orderDetail" :key="item.name">
                <v-col><v-list-item-subtitle> {{ item.name }}</v-list-item-subtitle></v-col>
                <v-col><v-list-item-subtitle> {{ item.amount }}</v-list-item-subtitle></v-col>
                <v-col><v-list-item-subtitle> {{ item.price * item.amount }}</v-list-item-subtitle></v-col>

              </v-row>



            </v-col>

          </v-row>
          <v-row class="justify-center text-line">____________________________</v-row>
          <v-row width="100%" style="padding-top: 10px; padding-left: 50px; padding-right: 27px;"
            class="subtitle-text text-fonts">

            <v-col class="pl-9" cols="8">

              <v-row><v-list-item-subtitle>Total</v-list-item-subtitle></v-row>
              <v-row><v-list-item-subtitle>Discount</v-list-item-subtitle></v-row>
              <v-row><v-list-item-subtitle>Tax</v-list-item-subtitle></v-row>

            </v-col>
            <v-col>
              <v-row><v-list-item-subtitle>{{ OrderStore.orderBill?.total.toFixed(2) }}</v-list-item-subtitle></v-row>
              <v-row><v-list-item-subtitle>-{{ OrderStore.orderBill?.discount.toFixed(2)
              }}</v-list-item-subtitle></v-row>
              <v-row><v-list-item-subtitle>{{ (OrderStore.orderBill!.total * (7 / 100)).toFixed(2)
              }}</v-list-item-subtitle></v-row>

            </v-col>
            <v-row style="padding-top: 15px; padding-right: 20px;">
              <v-col class="pl-12 pt-3" cols="8">
                <v-row><v-list-item-subtitle>Recived</v-list-item-subtitle></v-row>
                <v-row><v-list-item-subtitle>Change</v-list-item-subtitle></v-row>
                <v-row><v-list-item-subtitle>Total point </v-list-item-subtitle></v-row>
              </v-col>
              <v-col class="pl-5 pt-3">
                <v-row><v-list-item-subtitle>{{ OrderStore.orderBill?.recevied.toFixed(2)
                }}</v-list-item-subtitle></v-row>
              <v-row><v-list-item-subtitle>{{ (OrderStore.orderBill!.recevied - OrderStore.orderBill!.total).toFixed(2)
              }}</v-list-item-subtitle></v-row>

                <v-row><v-list-item-subtitle>{{ OrderStore.orderBill?.customer.point
                }}</v-list-item-subtitle></v-row>

              </v-col>



            </v-row>
          </v-row>
        </v-row>
        <!-- <v-row v-for="item of OrderStore.showOrder" :key="item.id"  width="100%" style="padding-top: 25px; padding-left: 50px; padding-right: 27px;"
                                                                                                                                                                                                                                                        class="subtitle-color text-fonts justify-center text-center">
                                                                                                                                                                                                                                                        <v-col ><v-list-item-subtitle>Name: {{ item.customer?.name }}</v-list-item-subtitle></v-col>
                                                                                                                                                                                                                                                          <v-col><v-list-item-subtitle>Point:</v-list-item-subtitle></v-col>
                                                                                                                                                                                                                                                      </v-row> -->
        <v-row width="100%" style="padding-top: 40px; padding-left: 50px; padding-right: 27px;"
          class="subtitle-color text-fonts">

          <v-list-item>
            <v-list-item-subtitle>Thank You</v-list-item-subtitle>
            <v-list-item-subtitle>Have A Nice Day :)</v-list-item-subtitle>
          </v-list-item>
        </v-row>

        <v-card-actions class="pt-5">
          <v-btn color="brown" block @click="OrderStore.dialogBill = false">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>


  </v-container>
</template>
<style>
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100&family=IBM+Plex+Mono:ital,wght@1,300&family=Kanit:wght@100&family=Roboto+Mono:wght@500&family=Source+Code+Pro&display=swap');

.text-fonts {
  font-family: 'Roboto Mono', monospace;
  font-weight: lighter;
  font-size: 20px;
  color: black;
}

.text-line {
  font-family: 'Roboto Mono', monospace;
  font-weight: lighter;
  font-size: 16px;
  color: black;
}
</style>