<script lang="ts" setup>
import { useCategoryStore } from '@/stores/category';
import { useProductStore } from '@/stores/Product';
import { onMounted, ref } from 'vue';
import type { VForm } from "vuetify/components";
const ProductStore = useProductStore();
const CategoryStore = useCategoryStore();
const form = ref<VForm | null>(null);

async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await ProductStore.saveProduct();
  }
}
onMounted(async () => {
  await CategoryStore.Getcategories();
});
</script>

<template>
  <v-dialog v-model="ProductStore.dialog" persistent width="500">

    <v-card class="text-font2">
      <v-card-title>
        <span class="text-h5">Product</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-text-field label="Name*" required v-model="ProductStore.editedProduct.name" :rules="[
                (v) => !!v || 'Item is required',
                (v) => v.length >= 3 || 'Length musr more than 3',
              ]"></v-text-field>
            </v-row>
            <v-row>
              <v-text-field label="Price*" required v-model.number="ProductStore.editedProduct.price"
                :rules="[(v) => !!v || 'Item is required']"></v-text-field>
            </v-row>
            <v-row>
              <v-select v-model="ProductStore.editedProduct.categoryId" :items="CategoryStore.categories"
                item-title="name" item-value="id" label="Select" persistent-hint return-value="id" single-line clearable
                :rules="[(v) => v != 0 || 'Item is required']"></v-select>
            </v-row>
            <v-row v-if="!ProductStore.editedProduct.id ? true : false">
              <v-file-input required :rules="[(v) => !!v[0] || 'Item is required']"
                v-model="ProductStore.editedProduct.files" label="File input"></v-file-input>
            </v-row>
          </v-container>
        </v-form>
        <small>*indicates required field</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue-darken-1" variant="text" @click="ProductStore.dialog = false">
          Close
        </v-btn>
        <v-btn color="blue-darken-1" variant="text" @click="save">
          Save
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@500&display=swap');

.text-font2 {
  font-family: 'Noto Sans Thai', sans-serif;
}
</style>