<script setup lang="ts">
import { ref } from 'vue';
const qrcode = ref()
</script>

<template>
  <v-dialog v-model="qrcode" width="auto" transition="dialog-bottom-transition">
    <v-card width="150px" height="300px">
      <v-card-title class="font-weight-bold">QRCode</v-card-title>
      <v-img src="https://cdn.discordapp.com/attachments/896296119095660576/1093439705233752105/IMG_4355.jpg">
      </v-img>

      <v-card-actions>
        <v-btn color="primary" block @click="qrcode = false">ชำระเงินเสร็จสิ้น</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<style></style>