<script lang="ts" setup>
import { useSummarySalaryStore } from '@/stores/Salary';

const salaryStore = useSummarySalaryStore();
</script>
<template>
   <v-dialog width="100vh" transition="dialog-bottom-transition" class="over" v-model="salaryStore.dialog">
    <v-card>
    <v-table style="border-radius: 15px;" class="overflow-y-auto text-font2" height="65vh">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>workhour</th>
            <th>salary</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Punch</td>
            <td>punch@email.com</td>
            <td>50</td>
            <td>300000</td>
          </tr>
        </tbody>
      </v-table>
      <v-card-actions class="pt-5 justify-center" >
          <v-btn color="red" block @click="salaryStore.dialog = false">Close</v-btn>
        </v-card-actions>
    </v-card>
   </v-dialog>
</template>