<script setup lang="ts">import { useProductStore } from '@/stores/Product';
import { useUploadImgStore } from '@/stores/UploadImg';
import { ref } from 'vue';
import type { VForm } from 'vuetify/components';

const ProductStore = useProductStore();
const form = ref<VForm | null>(null);
const Upload = useUploadImgStore()
async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await Upload.Sendreq()
  }
}
</script>
<template>
    <v-row justify="center">
      <v-dialog
        v-model="Upload.UploadImg"
        persistent
        width="auto"
        scrollStrategy="close"
      >
        <v-card>
          <v-card-title class="text-h5">
            Upload Image
          </v-card-title>
          <v-container class="text-center">
            <v-row>
                <v-col>

                </v-col>
            </v-row>
            <v-row >
                 <v-col >
                    <v-card width="25vw">
                    <v-img :src="Upload.url" width="25vw" class="text-center" v-if="Upload.files[0]">

                    </v-img> 
                </v-card>
                 </v-col>
                <v-col cols="12" >
                  <v-form ref="form">

                <v-file-input
                @change="Upload.onFileChange()"
                required
                :rules="[(v) => !!v[0] ||'Item is required']"
                v-model="Upload.files"  label="File input"></v-file-input>
              </v-form>
              </v-col>
            </v-row>
          </v-container>
          
          
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="green-darken-1"
              variant="text"
              @click="Upload.UploadImg = false"
            >
              Disagree
            </v-btn>
            <v-btn
              color="green-darken-1"
              variant="text"
              @click="save()"
            >
              Agree
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </template>