<script lang="ts" setup>
import { useUserStore } from '@/stores/User';
import { useAuthStore } from '@/stores/auth';
import { ref } from 'vue';
import type { VForm } from 'vuetify/components';
const form = ref<VForm | null>(null);
const userStore = useUserStore();
const showPwd = ref(false);
const auth = useAuthStore();
async function save() {

  const { valid } = await form.value!.validate();
  if (valid) {
    await userStore.saveUser();
  }
}
</script>
<template>
  <v-dialog v-model="userStore.dialog" persistent width="700">
    <v-card class="text-font">
      <v-card-title>
        <span class="text-h5">User</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field label="Name*" :rules="[
                  (v) => !!v || 'Name is required.',
                  (v) =>
                    v.length >= 3 ||
                    'The name must be greater than or equal to 3 characters and a maximum of 128 characters.',
                ]" required v-model="userStore.editedUser.name"></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field label="Tel*" :rules="[
                  (v) => !!v || 'Tel is required.',
                  (v) =>
                    v.length == 10 ||
                    'Tel must be equal 10 characters.',
                ]" required v-model="userStore.editedUser.tel"></v-text-field>
              </v-col>
              <v-col cols="12"  >
                <v-text-field label="Password*" :rules="!userStore.editedUser.id ? [
                  (v) => !!v || 'Password is required.',
                  (v) =>
                    v.length >= 8 ||
                    'Password must be more than or equal 8 characters and a maximum of 64 characters. ',]: undefined " required v-model="userStore.editedUser.password" :type="showPwd ? 'text' : 'password'"
                  :append-inner-icon="showPwd ? 'mdi-eye' : 'mdi-eye-off'"
                  @click:append-inner="showPwd = !showPwd"></v-text-field>
              </v-col>

              <v-col cols="12">
                <v-text-field label="Email*" :rules="[
                  (v) => !!v || 'Email is required.',
                  (v) =>
                    v.length >= 8 ||
                    'Email must be more than or equal 8 characters and a maximum of 128 characters.',
                ]" required v-model="userStore.editedUser.email"></v-text-field>
              </v-col>

              <v-col cols="12">
                <v-select :disabled="auth.account?.role! == 'employee'? true:false" :items="['manager', 'employee']" label="Role*" :rules="[
                  (v) => !!v || 'Role is required.',
                ]" required v-model="userStore.editedUser.role"></v-select>
              </v-col>
              <v-col cols="12" v-if="!userStore.editedUser.id ? true : false">
                <v-file-input required :rules="[(v) => !!v[0] || 'Item is required']" v-model="userStore.editedUser.files"
                  label="File input"></v-file-input>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
        <small>*indicates required field</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue-darken-1" variant="text" @click="userStore.dialog = false">
          Close
        </v-btn>
        <v-btn color="blue-darken-1" variant="text" @click="save">
          Save
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@500&display=swap');
.text-font{
  font-family: 'Noto Sans Thai', sans-serif;
}

.text-font2{
  font-family: 'Noto Sans Thai', sans-serif;
}
</style>