<script lang="ts" setup>

import { onMounted, ref } from 'vue';
import BillDialog from './Dialog/BillDialog.vue';
import LoadingDialog from './Dialog/LoadingDialog.vue';
import MessageDialog from '@/components/MessageDialog.vue';
import { useBillHistoryStore } from '@/stores/bill';
import BillDetailDialog from './Dialog/BillDetailDialog.vue';
import { useBillHistoryDetailStore } from '@/stores/BillDetail';
import ConfirmDialog from '@/components/ConfirmDialog.vue';

const BillHistoryStore = useBillHistoryStore();
const BillDetail = useBillHistoryDetailStore();
const confirmDlg = ref();
onMounted(async () => {
  await BillHistoryStore.GetBillHistory();
  await BillDetail.GetBillHistoryDetail();
});
const deleteBillHistory = async (id: number) => {
  try {
    await confirmDlg.value.openDialog("Please Confirm", `คุณต้องการลบ ID ที่ ${id} หรือไม่`);
    await BillHistoryStore.deleteBillHistory(id)
  } catch (e) { /* empty */ }
}

</script>

<template>
  <LoadingDialog></LoadingDialog>
  <MessageDialog></MessageDialog>
  <bill-dialog></bill-dialog>
  <BillDetailDialog></BillDetailDialog>
  <v-row style="padding-top: 20px; padding-left: 30px; padding-right: 27px;">
    <v-card width="100%" height="150" color="#EDE9D5" class="rounded-t-xl">
      <v-row style="padding-top: 25px; padding-right: 40px; padding-left: 40px;" class="pt-7">
        <v-icon icon="mdi-clipboard-check-multiple-outline" size="40px" color="#472D2D"
          style="padding-top: 5px;"></v-icon>
        <h3 style="color: #472D2D; font-size: 32px; padding-left: 15px;" class="text-font">ประวัติใบเสร็จชำระเงิน</h3>

        <v-divider :thickness="2"></v-divider>
      </v-row>
      <v-row cols="12" style="padding-top: 0px; padding-left: 15px; padding-right: 0px;">
        <v-col cols="2">

        </v-col>


        <v-col cols="2">


        </v-col>

        <v-col cols="8">

          <v-row>
            <v-col style="padding-left: 150px; padding-top: 12px; " height="80px">
              <v-row cols="12">
                <v-col cols="3"></v-col>
                <v-col cols="6" class="d-flex justify-end">
                  <v-text-field clearable label="กรอก ID Bill เพื่อค้นหา" prepend-inner-icon="mdi-magnify"
                    v-model="BillHistoryStore.search" bg-color="#C3B091" class="text-color mt-0 text-font2"
                    size="50px"></v-text-field>
                </v-col>
                <v-col cols="3" style="padding-right: 35px;">
                  <v-btn color="indigo-darken-3" prepend-icon="mdi-plus" width="150px" class="text-font2"
                    @Click="BillHistoryStore.dialog = true">ADD BILL</v-btn>
                </v-col>
              </v-row>

            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-card>
  </v-row>
  <v-row>



  </v-row>
  <v-row style="padding-top: 10px; padding-left: 30px; padding-right: 27px;">
    <v-card height="68vh" width="100%" color="#dedad7" rounded="lg" class="pa-2 text-font2">
    <v-table style="border-radius: 15px;" width="100px" height="66vh" class="overflow-y-auto ">
        <thead>
          <tr>
            <th>ID</th>
            <th>Shop Name</th>
            <th>Date</th>
            <th>Time</th>
            <th>Total</th>
            <th>Buy</th>
            <th>Change</th>
            <th>Option</th>

          </tr>
        </thead>
        <tbody>
          <tr v-for="item of BillHistoryStore.showBill" :key="item.id">
            <td class="justify-start">{{ item.id }}</td>
            <td>{{ item.shop_name }}</td>
            <td>{{ item.date }}</td>
            <td>{{ item.time }}</td>
            <td>{{ item.total }}</td>
            <td>{{ item.buy }}</td>
            <td>{{ item.change }}</td>


            <td>
              <!-- <v-btn color="#01579B" class="mr-5" variant="tonal" @click="BillHistoryStore.editBill(item)"
                                                                        prepend-icon="mdi-pencil">Edit</v-btn> -->
              <v-row>
                <v-col>
                  <v-btn color="#C62828" variant="tonal" @click="deleteBillHistory(item.id!)"
                    prepend-icon="mdi-delete">Delete</v-btn>
                </v-col>
                <v-col>
                  <v-btn color="#304FFE" variant="tonal" icon="mdi-eye-outline" size="40px"
                    @click="BillHistoryStore.getBillById(item.id!)"></v-btn>
                </v-col>
              </v-row>


            </td>
          </tr>
        </tbody>
      </v-table>
    </v-card>
  </v-row>
  <ConfirmDialog ref="confirmDlg"></ConfirmDialog>
</template>

<style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@500&display=swap');

.text-color {
  color: white !important;
}

.text-font {
  font-family: 'Noto Sans Thai', sans-serif;
}

.text-font2 {
  font-family: 'Noto Sans Thai', sans-serif;
}
</style>
