<script setup lang="ts">

import { useAuthStore } from '@/stores/auth';
import { useUploadImgStore } from '@/stores/UploadImg';
import { useUserStore } from '@/stores/User';
import { onMounted, ref } from 'vue';
import UserDialog from './Dialog/UserDialog.vue';
import UploadImgDialog from './Dialog/UploadImgDialog.vue';
const httpImg = (import.meta.env.VITE_BACKEND_URL)
const auth = useAuthStore();
const userStore = useUserStore();
const Upload = useUploadImgStore()
onMounted(async () => {
  await auth.loadUser()
})
</script>

<template>
  <UploadImgDialog></UploadImgDialog>
  <UserDialog></UserDialog>
  <v-layout class="bg-img">
    <v-container>
      <v-card height="100" color="#120a04">
        <v-row style="padding-top: 25px; padding-right: 40px; padding-left: 40px;">
          <v-icon icon="mdi-account-edit" size="40px" color="white" style="padding-top: 5px;"></v-icon>
          <h1 style="color: white; font-size: 32px; padding-left: 5px;" class="text-font">จัดการบัญชีผู้ใช้งาน</h1>
          <v-divider class="border-opacity-100" style="color: white;"></v-divider>
        </v-row>
      </v-card>

      <v-row>
        <v-container>
          <v-card height="100%" color="#dedad7" rounded="lg" class="text-font2">
            <v-container>
              <v-row>
                <v-container>
                  <v-card height="100%">
                    <v-col class="text-center mt-3" cols="12">
                      <v-avatar size="200" :image="`${httpImg}/users/{image}/${auth.account?.image}`">
                      </v-avatar>
                    </v-col>
                    <v-col cols="12" class="text-center">
                      <v-btn class=" transition-fast-in-fast-out bg-white" style="height: 100%; opacity: 50%;"
                        width="150px" height="300px" @Click="Upload.EditImg(auth.account?.id!, 'User')">Edit
                      </v-btn></v-col>
                    <v-col cols="12">
                      <v-card-title>
                        ข้อมูลผู้ใช้
                      </v-card-title>
                      <v-card-text>
                        <v-list>
                          <v-list-item>
                            <template v-slot:prepend>
                              Name
                            </template>
                            <v-list-item-title class="text-center">{{ auth.account?.name }}</v-list-item-title>
                            <template v-slot:append>
                              <v-icon icon="mdi-chevron-right"></v-icon>
                            </template>
                          </v-list-item>
                          <v-divider></v-divider>
                          <v-list-item>
                            <template v-slot:prepend>
                              Tel
                            </template>
                            <v-list-item-title class="text-center">{{ auth.account?.tel }}</v-list-item-title>
                            <template v-slot:append>
                              <v-icon icon="mdi-chevron-right"></v-icon>
                            </template>
                          </v-list-item>
                          <v-divider></v-divider>
                          <v-list-item>
                            <template v-slot:prepend>
                              Email
                            </template>
                            <v-list-item-title class="text-center">{{ auth.account?.email }}</v-list-item-title>
                            <template v-slot:append>
                              <v-icon icon="mdi-chevron-right"></v-icon>
                            </template>
                          </v-list-item>
                          <v-divider></v-divider>
                          <v-list-item>
                            <template v-slot:prepend>
                              Role
                            </template>
                            <v-list-item-title class="text-center">{{ auth.account?.role }}</v-list-item-title>
                            <template v-slot:append>
                              <v-icon icon="mdi-chevron-right"></v-icon>
                            </template>
                          </v-list-item>
                          <v-divider></v-divider>
                        </v-list>
                      </v-card-text>

                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue-darken-1" variant="text"
                          @click="userStore.editCurrentUser({ id: auth.account?.id, tel: auth.account?.tel, email: auth.account?.email, role: auth.account?.role, name: auth.account?.name })">
                          edit
                        </v-btn>
                      </v-card-actions>
                    </v-col>
                  </v-card>
                </v-container>
              </v-row>
            </v-container>
          </v-card>
        </v-container>
      </v-row>

    </v-container>
  </v-layout>
</template>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@500&display=swap');

.bg-img {
  background: url(https://cdn.discordapp.com/attachments/896296119095660576/1080722760050954341/coffeeBG.jpg.webp);
  background-size: cover;
  height: 110vh;
  width: 100vw;
}

.text-font {
  font-family: 'Noto Sans Thai', sans-serif;
}

.text-font2 {
  font-family: 'Noto Sans Thai', sans-serif;
}
</style>