<script setup lang="ts">
import MessageDialog from '@/components/MessageDialog.vue';
import { useCheckinoutStore } from '@/stores/Checkinout';
import { useEmployeeStore } from '@/stores/Employee';
import { useUserStore } from '@/stores/User';
import { onMounted, ref } from 'vue';
import LoadingDialog from './Dialog/LoadingDialog.vue';
import { useAuthStore } from '@/stores/auth';
const employeeStore = useEmployeeStore();
const userStore = useUserStore();
const checkinoutStore = useCheckinoutStore();
const auth = useAuthStore()
onMounted(async () => {
  auth.loadUser()
  await checkinoutStore.getCheckinoutStage()
  await checkinoutStore.GetCheckinout();

})

</script>

<template>
  <LoadingDialog></LoadingDialog>
  <MessageDialog></MessageDialog>
  <EmployeeDialog></EmployeeDialog>
  <v-row style="padding-left: 25px; padding-right: 25px;padding-top: 25px;">
    <v-card height="140" width="100%" class="rounded-t-xl" color="#120a04">
      <v-row style="padding-top: 25px; padding-right: 40px; padding-left: 40px;">
        <v-icon icon="mdi-account-clock" size="40px" color="white" style="padding-top: 5px;"></v-icon>
        <h1 style="color: white; font-size: 32px; padding-left: 5px;" class="text-font">การเข้า-ออกงาน</h1>
        <v-divider class="border-opacity-100" style="color: white;"></v-divider>
      </v-row>
      <v-row class="12 justify-end">
        <v-col cols="7"></v-col>
        <!-- <v-col cols="4" class="pr-10">
            <v-text-field placeholder="กรอกเบอร์โทรเพื่อค้นหา" prepend-inner-icon="mdi-magnify"
              v-model="employeeStore.search" class="text-color"></v-text-field>
          </v-col> -->
      </v-row>
    </v-card>


    <v-row>
      <v-container>
        <v-col cols="12">
          <v-card height="50vh" width="100%" color="#dedad7" rounded="lg" class="text-font">
            <v-col></v-col>
            <v-col></v-col>
            <v-row>
              <v-col class="pl-6 text-center">
                <h1>กดเพื่อเข้างาน</h1>
                <v-btn elevation=" 12" color="#00E676" class="text-center "
                  :disabled="checkinoutStore.stage == false ? true : false" height="30vh" width="40vh"
                  @click="checkinoutStore.saveCheckinout()">
                  <h2><v-icon>mdi-account-arrow-up</v-icon>Check In</h2>
                </v-btn>
              </v-col>
              <v-col cols="pr-3">
                <h1 class="text-center">กดเพื่อออกงาน</h1>
                <v-btn elevation="12" color="#FF8A80" class="text-center "
                  :disabled="checkinoutStore.stage == true ? true : false" height="30vh" width="40vh"
                  @click="checkinoutStore.Checkout()">
                  <h2><v-icon>mdi-account-arrow-down</v-icon>Check Out</h2>
                </v-btn>
              </v-col></v-row>

          </v-card></v-col>
      </v-container>
    </v-row>

  <v-col cols="6" class="">
    <v-card height="68vh" width="100%" color="#dedad7" rounded="lg">
      <v-container>
        <v-table style="border-radius: 15px;" height="64vh" class="overflow-y-auto text-font">
          <thead>
              <tr>
                <th>Date</th>
                <th>Checkin</th>
                <th>Checkout</th>
                <th>Totalhour</th>
                <th></th>
                <!-- <th></th> -->
              </tr>
            </thead>
            <tbody>
              <tr v-for="item of checkinoutStore.Checkinout" :key="item.id">
                <td>{{ item.date }}</td>
                <td>{{ item.time_in }}</td>
                <td>{{ item.time_out }}</td>
                <td>{{ item.total_hour?.toFixed(2) }}</td>
                <!-- <td>
                                                                                                                                                                <v-btn color="#01579B" class="mr-5" variant="tonal" @click="checkinoutStore.dialog = true"
                                                                                                                                                                  prepend-icon="mdi-pencil">Edit</v-btn>
                                                                                                                                                                <v-btn color="#C62828" variant="tonal" @click="checkinoutStore.deleteCheckinout(item.id!)"
                                                                                                                                                                  prepend-icon="mdi-delete">Delete</v-btn>
                                                                                                                                                              </td> -->
                <td></td>
              </tr>
            </tbody>
          </v-table>
        </v-container>
      </v-card>
    </v-col>

  </v-row>
</template>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@500&display=swap');

.text-color {
  color: white !important;
}

.text-font {
  font-family: 'Noto Sans Thai', sans-serif;
}

.text-font2 {
  font-family: 'Noto Sans Thai', sans-serif;
}
</style>