<script lang="ts" setup>
import { onMounted, ref } from 'vue';
import LoadingDialog from './Dialog/LoadingDialog.vue';
import ChartBarComponentBarDay from '@/components/chart/ChartBarComponentBarDay.vue';
import ChartBarComponentBarWeek from '@/components/chart/ChartBarComponentBarWeek.vue';
import { useMaterialStore } from '@/stores/Material';
import ChartLineComponentMonth from '@/components/chart/ChartLineComponentMonth.vue';
const MaterialStore = useMaterialStore();

onMounted(async () => {
    await MaterialStore.getMaterial();
})
</script>
<template>
    <LoadingDialog></LoadingDialog>
    <v-row style="padding-left: 25px; padding-top: 25px; padding-right: 25px;">
        <v-col cols="8">
            <v-row>
                <v-card width="100%" height="190px" rounded="l" color="#FAF2DA" class="text-font">
                    <v-row style="padding-top: 20px;padding-left: 25px;">
                        <h1>Dashboard</h1>
                    </v-row>
                    <v-row style="padding-left: 15px;">
                        <v-col>
                            <v-card width="260px" height="100px" color="#80DEEA">
                                <v-card-title>ยอดขายรายวัน</v-card-title>
                                <v-divider></v-divider>
                                <h1 style="padding-left: 15px;">5,200 บาท</h1>
                            </v-card>
                        </v-col>
                        <v-col>
                            <v-card width="260px" height="100px" color="#FFB74D">
                                <v-card-title>ยอดขายรายเดือน</v-card-title>
                                <v-divider></v-divider>
                                <h1 style="padding-left: 15px;">25,602 บาท</h1>
                            </v-card>
                        </v-col>
                        <v-col>
                            <v-card width="260px" height="100px" color="#9CCC65">
                                <v-card-title>ยอดขายรายปี</v-card-title>
                                <v-divider></v-divider>
                                <h1 style="padding-left: 15px;">153,456 บาท</h1>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-card>
            </v-row>
            <v-row style="padding-top: 10px;" cols="12">
                <v-card width="100%" height="455px" rounded="l" color="#ffffff" class="text-font">
                    <v-row cols="12" style="padding-left: 15px;padding-right: 15px; padding-top: 15px;">
                        <v-col cols="6">
                            <h2>กราฟยอดขายรายวัน</h2>
                            <v-card width="100%" height="380px">
                                <ChartBarComponentBarDay></ChartBarComponentBarDay>
                            </v-card>
                        </v-col>
                        <v-col cols="6">
                            <h2>กราฟยอดขายรายเดือน</h2>
                            <v-card width="100%" height="380px">
                                <ChartBarComponentBarWeek></ChartBarComponentBarWeek>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-card>
            </v-row>


        </v-col>
        <v-col cols="4">
            <v-row style="padding-left: 10px;">
                <v-card width="100%" height="365px" color="#ffffff" class="text-font">
                    <v-row style="padding-left: 30px; padding-top: 20px;">
                        <h3>กราฟเปรียบเทียบยอดขายของทั้ง 2 สาขา</h3>
                    </v-row>
                    <v-row style="padding-left: 20px; padding-top: 5px; padding-right: 20px;">
                        <v-card width="100%" height="305px">
                            <ChartLineComponentMonth></ChartLineComponentMonth>
                        </v-card>
                    </v-row>
                </v-card>
            </v-row>
            <v-row>
                <v-col cols="7">
                    <v-card width="268px" height="278px" class="overflow-y-auto text-font" color="#F9F5E7">
                        <v-row><v-card-title
                                style="padding-left: 20px; padding-top: 15px;">สินค้าขายดี</v-card-title></v-row>
                        <v-row style="padding-left: 20px; padding-right: 20px; ">
                            <v-card width="100%" height="80px" rounded="l">
                                <v-col style="padding-top: 0px;">
                                    <v-row cols="12">
                                        <v-col cols="2"><v-avatar size="80px" style="padding-right: 35px;"
                                                image="https://cdn.discordapp.com/attachments/896296119095660576/1093810573990449233/greentea.jpg.png"></v-avatar></v-col>
                                        <v-col cols="10" style="padding-top: 25px;">
                                            <v-row style="padding-top: 10px; padding-left: 10px;">
                                                <v-card-subtitle>ชาเขียว</v-card-subtitle>
                                            </v-row>
                                            <v-row style=" padding-left: 10px;">
                                                <v-card-subtitle>จำนวน:</v-card-subtitle>
                                                <v-btn color="#00C853" theme="dark">55</v-btn>
                                            </v-row>
                                        </v-col>
                                    </v-row>
                                </v-col>

                            </v-card>
                            <v-card width="100%" height="80px" rounded="l">
                                <v-col style="padding-top: 0px;">
                                    <v-row cols="12">
                                        <v-col cols="2"><v-avatar size="80px" style="padding-right: 35px;"
                                                image="https://cdn.discordapp.com/attachments/896296119095660576/1094629850087690290/chacool-removebg-preview.png"></v-avatar></v-col>
                                        <v-col cols="10" style="padding-top: 25px;">
                                            <v-row style="padding-top: 10px; padding-left: 10px;">
                                                <v-card-subtitle>ลาเต้</v-card-subtitle>
                                            </v-row>
                                            <v-row style=" padding-left: 10px;">
                                                <v-card-subtitle>จำนวน:</v-card-subtitle>
                                                <v-btn color="#00C853" theme="dark">32</v-btn>
                                            </v-row>
                                        </v-col>
                                    </v-row>
                                </v-col>

                            </v-card>
                            <v-card width="100%" height="80px" rounded="l">
                                <v-col style="padding-top: 0px;">
                                    <v-row cols="12">
                                        <v-col cols="2"><v-avatar size="80px" style="padding-right: 35px;"
                                                image="https://cdn.discordapp.com/attachments/896296119095660576/1094292492612022333/kakao.jpg.png"></v-avatar></v-col>
                                        <v-col cols="10" style="padding-top: 25px;">
                                            <v-row style="padding-top: 10px; padding-left: 10px;">
                                                <v-card-subtitle>โกโก้</v-card-subtitle>
                                            </v-row>
                                            <v-row style=" padding-left: 10px;">
                                                <v-card-subtitle>จำนวน:</v-card-subtitle>
                                                <v-btn color="#00C853" theme="dark">30</v-btn>
                                            </v-row>
                                        </v-col>
                                    </v-row>
                                </v-col>

                            </v-card>

                        </v-row>
                    </v-card>
                </v-col>
                <v-col cols="5">
                    <v-card width="190px" height="278px" class="overflow-y-auto text-font" color="#F9F5E7">
                        <v-row><v-card-title
                                style="padding-left: 17px; padding-top: 15px;">วัตถุดิบใกล้หมดสต็อก</v-card-title></v-row>
                        <v-row style="padding-left: 20px; padding-right: 20px; padding-top: 3px;"
                            v-for="item in MaterialStore.Material" :key="item.id">
                            <v-card width="100%" height="50px" rounded="l"
                                v-if="item.quantity < item.min_quantity === true">
                                <v-row cols="12">
                                    <v-col cols="8">
                                        <v-card-subtitle style="padding-top: 5px;">{{ item.name }}</v-card-subtitle>
                                    </v-col>
                                    <v-col cols="4" style="padding-top: 18px;">
                                        <v-btn icon="mdi-vuetify" class="editText1 " bg-color="#E53935" variant="elevated"
                                            color="error" size="36px">{{ item.quantity }}</v-btn>
                                    </v-col>
                                </v-row>
                            </v-card>
                        </v-row>
                    </v-card>
                </v-col>
            </v-row>


        </v-col>

    </v-row>
</template>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@700&display=swap');

.bg-img {
    background-color: #ECECEC;
    height: 100vh;
    width: 100vw;
}

.text-head {
    color: #3C2A21;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 35px;
    text-align: left;
    padding-left: 5px;
    padding-top: 10px;
}

.text-body {
    color: #876445;
    text-align: left;
    padding-top: 5px;
    font-size: 20px;

}

.text-body2 {
    color: #6b6867;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    padding-left: 10px;


}

.card-edi1 {
    border-radius: 10px 10px 10px 10px;
}

.card-edit2 {
    padding-left: 0px;
    padding-top: 15px;
}

.card-text1 {
    padding-left: 15px;
    font-size: 40px;
}

.card-text2 {
    padding-left: 0px;
    padding-top: 10px;
}

.card-text3 {
    padding-left: 0px;
    padding-top: 6px;
}

.card-text4 {
    padding-left: 0px;
    padding-top: 1px;
}

.text-font {
    font-family: 'Noto Sans Thai', sans-serif;
}
</style>




