<script setup lang="ts">
import { useMaterialStore } from '@/stores/Material';
import { onMounted, ref } from 'vue';
import MessageDialog from './Dialog/MessageDialog.vue';
import LoadingDialog from './Dialog/LoadingDialog.vue';
import MaterialDialog from './Dialog/MaterialDialog.vue';
import ConfirmDialog from '@/components/ConfirmDialog.vue';
const MaterialStore = useMaterialStore();
const confirmDlg = ref();
onMounted(async () => {
  await MaterialStore.getMaterial();
  await MaterialStore.GetLowMat()
})
const deleteProduct = async (id: number) => {
  try {
    await confirmDlg.value.openDialog("Please Confirm", `คุณต้องการลบวัตถุดิบนี้หรือไม่`);
    await MaterialStore.deleteProduct(id)
  } catch (e) { /* empty */ }
}
</script>
<template>
  <MessageDialog></MessageDialog>
  <LoadingDialog></LoadingDialog>
  <MaterialDialog></MaterialDialog>
  <v-row style="padding-top: 20px; padding-left: 40px; padding-right: 27px;">

    <v-card height="140" color="#EDE9D5" width="100%" class="rounded-t-xl">
      <v-row style="padding-top: 25px; padding-right: 40px; padding-left: 40px;" class="pt-7">
        <v-icon icon="mdi-clipboard-multiple-outline" size="40px" color="#472D2D" style="padding-top: 0px;"></v-icon>
        <h1 style="color: #472D2D; font-size: 32px; padding-left: 15px;" class="text-font">จัดการคลังวัตถุดิบ</h1>
        <v-divider :thickness="2"></v-divider>
      </v-row>
      <v-row class="12 justify-end">
        <v-col cols="3"></v-col>
        <v-col cols="4" style="padding-left: 150px;"><v-text-field label="กรอกชื่อเพื่อค้นหา"
            prepend-inner-icon="mdi-magnify" v-model="MaterialStore.search" class="text-color mt-0 text-font2" bg-color="#C3B091"
            color="black"></v-text-field></v-col>
        <v-col cols="2" style="padding-top: 7px;" class="justify-end text-body2 text-none mb-4 text-font2"><v-btn class="ma-1 "
            prepend-icon="mdi-plus" @click="MaterialStore.dialog = true" color="indigo-darken-3">New
            Material</v-btn></v-col>
      </v-row>
      <v-col cols="5"></v-col>

    </v-card>


  </v-row>
  <v-row class="justify-end" cols="12">

  </v-row>
  <v-row class="pl-7 pr-7" cols="12">
    <v-col cols="10">
      <v-card class="cardEdit overflow-y-auto text-font2" height="67vh" width="100%">

        <!--  -->

        <v-table height="870px">
          <thead>
            <tr>
              <th class="text-center">
                Mat. ID
              </th>
              <th class="text-center">
                Name
              </th>
              <th class="text-center">
                Min Quantity
              </th>
              <th class="text-center">
                Quantity
              </th>
              <th class="text-center">
                Unit
              </th>
              <th class="text-center">
                Price per unit
              </th>
              <th class="text-center">
                Option
              </th>
            </tr>
          </thead>
          <tbody  class="text-center">
            <!-- {{ MaterialStore.Material }} -->
            <tr  v-for="item in MaterialStore.Material" :key="item.id!">
              <td>{{ item.id! }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.min_quantity }}</td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.unit }}</td>
              <td>{{ item.price_per_unit }}</td>
              <td><v-btn @click="MaterialStore.editMaterial(item)" prepend-icon="mdi-pencil" color="#2979FF"
                  variant="tonal">Edit</v-btn><v-btn class="ml-3" @Click="deleteProduct(item.id!)"
                  prepend-icon="mdi-delete" color="#D32F2F" variant="tonal">Delete</v-btn></td>
            </tr>
          </tbody>
        </v-table>
      </v-card>
    </v-col>
    <v-col cols="2" style="padding-top: 23px;">
      <v-row>
        <v-alert border="bottom" border-color="red-darken-4">
          <v-tab class="font-weight-bold text-font2" style="height: 20px;">Mat. Low in stock!!</v-tab>
        </v-alert>

      </v-row>
      <v-row style="padding-top: 5px;">
        <v-card width="100%" height="58vh" class="overflow-y-auto cardEdit3 text-font2" style="padding-left: 8px; padding-top: 7px;"
          color="#dedad7">
          <v-col>


            <v-row v-for="item in MaterialStore.MaterialLow" :key="item.id" class="cardEdit2  " style="padding-left: 0px;"
              border="start" border-color="deep-purple accent-4" elevation="2">
              <v-card  class="cardEdit2 mb-2 "
                style="padding-left: 10px;" height="60px" width="97%">
                <v-row cols="12">

                  <v-col cols="8" class="pt-5 " style="padding-left: 13px;">{{ item.name }} </v-col>
                  <v-col cols="4" class="pt-6 " style="padding-left: 10px;"><v-btn icon="mdi-vuetify" class="editText1 "
                      bg-color="#E53935" variant="elevated" color="error" size="40px">{{ item.quantity }}</v-btn></v-col>

                </v-row>

              </v-card>
            </v-row>
          </v-col>
        </v-card>
      </v-row>

    </v-col>

  </v-row>
  <ConfirmDialog ref="confirmDlg"></ConfirmDialog>
</template>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@500&display=swap');
.cardEdit {
  padding-left: 25px;
  padding-top: 20px;
  padding-right: 25px;
  border-radius: 5px 5px 5px 5px;
}

.cardEdit2 {
  border-radius: 5px 30px 5px 5px;

}

.cardEdit3 {
  border-radius: 15px 15px 15px 15px;

}

.editText1 {
  text-shadow: 5px;
}

.text-font{
  font-family: 'Noto Sans Thai', sans-serif;
}

.text-font2{
  font-family: 'Noto Sans Thai', sans-serif;
}
</style>