<script lang="ts" setup>
import { useCustomerStore } from '@/stores/Customer';
import { onMounted, ref } from 'vue';
import CustomerDialog from './Dialog/CustomerDialog.vue';
import { useOrderStore } from '@/stores/Order';
import LoadingDialog from './Dialog/LoadingDialog.vue';
import ConfirmDialog from '@/components/ConfirmDialog.vue';
import MessageDialog from '@/components/MessageDialog.vue';
import PrintBillDialog from './Dialog/PrintBillDialog.vue';

const CustomerStore = useCustomerStore();
const OrderStore = useOrderStore();
const confirmDlg = ref();

onMounted(async () => {
  await OrderStore.getOrders();
});

const deleteOrder = async (id: number) => {
  try {
    await confirmDlg.value.openDialog("Please Confirm", `คุณต้องการลบ Order ${id} หรือไม่`);
    await OrderStore.deleteOrder(id)
  } catch (e) { /* empty */ }
}

</script>
<template>
  <MessageDialog></MessageDialog>
  <LoadingDialog></LoadingDialog>
  <v-row style="padding-top: 20px; padding-left: 30px; padding-right: 30px;">
    <v-card height="140" width="100%" class="rounded-t-xl" color="#120a04">
      <v-row style="padding-top: 25px; padding-right: 40px; padding-left: 40px;">
        <v-icon icon="mdi-coffee" size="40px" color="white" style="padding-top: 5px;"></v-icon>
        <h1 style="color: white; font-size: 32px; padding-left: 5px;" class="text-font">จัดการออร์เดอร์</h1>
        <v-divider class="border-opacity-100" style="color: white;"></v-divider>
      </v-row>
      <v-row>
        <v-col cols="8"></v-col>
        <v-col cols="4">
          <v-text-field label="กรอก ID ออร์เดอร์เพื่อค้นหา" placeholder="กรอก ID ออร์เดอร์เพื่อค้นหา"
            prepend-inner-icon="mdi-magnify" v-model="OrderStore.search"
            class="text-color text-font2 mr-5"></v-text-field>
        </v-col>
      </v-row>
    </v-card>
  </v-row>
  <v-row width="100%" style="padding-top: 10px; padding-left: 30px; padding-right: 30px;">
    <v-card height="67vh" width="100%" color="#dedad7" rounded="lg"
      style="padding-left: 10px; padding-top: 10px; padding-right: 10px; padding-bottom: 10px;" class="text-font2">

      <v-table style="border-radius: 15px; overflow: auto;" height="64vh" class="overflow-y-auto">
        <thead>
          <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Time</th>
            <th>Amount</th>
            <th>Total</th>
            <th>Recieved</th>
            <th>Changed</th>
            <th>Payment</th>
            <th>Customer name</th>
            <!-- <th>Employee name</th>
            <th>Store name</th> -->
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item of OrderStore.showOrder" :key="item.id">
            <td>{{ item.id }}</td>
            <td>{{ item.date }}</td>
            <td>{{ item.time }}</td>
            <td>{{ item.amount }}</td>
            <td>{{ item.total }}</td>
            <td>{{ item.recevied }}</td>
            <td>{{ item.change }}</td>
            <td>{{ item.payment }}</td>
            <td>
              <v-chip label color="primary" text-color="primary" variant="outlined">
                <v-icon left>mdi-account-supervisor-circle</v-icon>{{ item.customer?.name }}
              </v-chip>
            </td>
            <!-- <td><v-chip label color="success" text-color="success" variant="outlined">
                <v-icon left>mdi-account-multiple</v-icon>{{ item.employee?.name }}
              </v-chip></td>
            <td><v-chip label color="#6D4C41" text-color="#6D4C41" variant="outlined">
                <v-icon left>mdi-store</v-icon>{{ item.store?.name }}
              </v-chip></td> -->
            <td>
              <v-btn color="#853131" variant="text" @click="deleteOrder(item.id!)">
                <v-icon icon="mdi-delete"></v-icon>
              </v-btn>
              <v-btn color="#853131" variant="text" @click="OrderStore.getOrderById(item.id!)">
                <v-icon icon="mdi-eye"></v-icon>
              </v-btn>
            </td>
          </tr>
        </tbody>
      </v-table>


    </v-card>
  </v-row>
  <PrintBillDialog></PrintBillDialog>
  <ConfirmDialog ref="confirmDlg"></ConfirmDialog>
</template>

<style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@500&display=swap');

.text-color {
  color: white !important;
}

.text-font {
  font-family: 'Noto Sans Thai', sans-serif;
}

.text-font2 {
  font-family: 'Noto Sans Thai', sans-serif;
}
</style>