<script setup lang="ts">
import { useAuthStore } from '@/stores/auth';
import { onMounted } from 'vue';
const auth = useAuthStore()
onMounted(() => {
    auth.logout()
})
</script>
<template>
    <div></div>
</template>