<script lang="ts" setup>
import { useSummarySalaryStore } from '@/stores/Salary';
import LoadingDialog from './Dialog/LoadingDialog.vue';
import { onMounted } from 'vue';

onMounted(async () => {
  await ssalaryStore.GetSummarySalary()
})

const ssalaryStore = useSummarySalaryStore()
</script>
<template>
  <LoadingDialog></LoadingDialog>

  <v-row style="padding-top: 20px; padding-left: 40px; padding-right: 27px; ">
    <v-card width="100%" height="140" color="#120a04" class="rounded-t-xl">
      <v-row style="padding-top: 25px; padding-right: 40px; padding-left: 40px;" class="pt-7">
        <v-icon icon="mdi-clipboard-check-multiple-outline" size="40px" color="white" style="padding-top: 5px;"></v-icon>
        <h1 style="color: white; font-size: 32px; padding-left: 15px;" class="text-font">จัดการเงินเดือนพนักงาน</h1>

        <v-divider class="border-opacity-100" style="color: white;"></v-divider>
      </v-row>
      <v-row>
        <v-col cols="11"></v-col>

        <v-col cols="1">
          <v-btn color="brown" rounded="lg" class="justify-center" @click="ssalaryStore.saveSummarySalary()">
            <v-icon icon="mdi-plus-circle"></v-icon>
            <v-icon icon="mdi-account-cash"></v-icon>
          </v-btn>
        </v-col>
      </v-row>
    </v-card>

  </v-row>

  <v-row style="padding-top: 10px; padding-left: 40px; padding-right: 30px;">
    <v-card width="100%" color="#dedad7" rounded="xl" height="68vh"
      style="overflow: auto; padding-left: 10px; padding-top: 10px; padding-right: 10px; padding-bottom: 10px;">
      <v-row>
        <v-col cols="3" v-for="item of ssalaryStore.SummarySalary" :key="item.id">
          <v-card height="100%" rounded="xl" color="brown">
            <v-card-title>
              Paid salary date: {{ item.Date }}
            </v-card-title>
            <v-divider class=""></v-divider>
            <v-card-text class="text-h3 text-center pa-10">
              {{ item.salary }} ฿
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-card>
  </v-row>
  <ConfirmDialog ref="confirmDlg"></ConfirmDialog>
</template>
<style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@500&display=swap');

.edit-card1 {
  border-radius: 15px 15px 15px 15px
}

.text-color {
  color: white !important;
}

.text-font {
  font-family: 'Noto Sans Thai', sans-serif;
}

.text-font2 {
  font-family: 'Noto Sans Thai', sans-serif;
}
</style>