<script lang="ts" setup>
import { useUploadImgStore } from '@/stores/UploadImg';
import { useUserStore } from '@/stores/User';
import { onMounted, ref } from 'vue';
import UserDialog from './Dialog/UserDialog.vue';
import UploadImgDialog from './Dialog/UploadImgDialog.vue';
import LoadingDialog from './Dialog/LoadingDialog.vue';
import MessageDialog from '@/components/MessageDialog.vue';
import ConfirmDialog from '@/components/ConfirmDialog.vue';
const userStore = useUserStore();
const httpImg = (import.meta.env.VITE_BACKEND_URL)
const Upload = useUploadImgStore()
const confirmDlg = ref();
onMounted(async () => {
  await userStore.GetUser();
});
const deleteUser = async (id: number) => {
  try {
    await confirmDlg.value.openDialog("Please Confirm", `คุณต้องการลบ User นี้หรือไม่`);
    await userStore.deleteUser(id)
  } catch (e) { /* empty */ }
}
</script>
<template>
  <MessageDialog></MessageDialog>
  <LoadingDialog></LoadingDialog>
  <UserDialog></UserDialog>
  <UploadImgDialog></UploadImgDialog>
  <v-row style="padding-top: 20px; padding-left: 40px; padding-right: 27px;">
    <v-card height="140" width="100%" class="rounded-t-xl" color="#120a04">
      <v-row style="padding-top: 25px; padding-right: 40px; padding-left: 40px;">
        <v-icon icon="mdi-account-box" size="40px" color="white" style="padding-top: 5px;"></v-icon>
        <h1 style="color: white; font-size: 32px; padding-left: 5px;" class="text-font">จัดการผู้ใช้งาน</h1>
        <v-divider class="border-opacity-100" style="color: white;"></v-divider>
      </v-row>
      <v-row class="12 justify-end">
        <v-col cols="7"></v-col>
        <v-col cols="4">
          <v-text-field label="กรอกเบอร์โทรเพื่อค้นหา" placeholder="กรอกเบอร์โทรเพื่อค้นหา"
            prepend-inner-icon="mdi-magnify" v-model="userStore.search" class="text-color text-font2"></v-text-field>

        </v-col>
        <v-col>
          <v-btn color="brown" rounded="lg" @click.stop="userStore.dialog = !userStore.dialog">
            <v-icon icon="mdi-plus-circle" class="mr-1"></v-icon>
            <v-icon icon="mdi-account-box"></v-icon>
          </v-btn>
        </v-col>
      </v-row>
    </v-card>
  </v-row>


  <v-row width="100%" style="padding-top: 10px; padding-left: 40px; padding-right: 27px;">
    <v-card height="68vh" width="100%" color="#dedad7" rounded="lg"
      style="padding-top: 10px; padding-left: 10px; padding-right: 10px;" class="text-font2">
      <v-table style="border-radius: 15px;" height="65vh" class="overflow-y-auto">
        <thead>
          <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Email</th>
            <th>Tel.</th>
            <th>Role</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item of userStore.showUser" :key="item.id">
            <td><v-hover v-slot="{ isHovering, props }">

                <v-img class=" mt-2 ml-2 elevation-2 " v-bind="props" :src="`${httpImg}/users/image/${item.image}`"
                  height="55px" width="55px">
                  <v-expand-transition>
                    <v-btn v-if="isHovering" class=" transition-fast-in-fast-out bg-white "
                      style="height: 100%; opacity: 50%;" @Click="Upload.EditImg(item.id!, 'User')">Edit

                    </v-btn>
                  </v-expand-transition>
                </v-img>

              </v-hover></td>
            <td>{{ item.name }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.tel }}</td>
            <td>{{ item.role }}</td>
            <td>
              <v-btn color="#01579B" class="mr-5" variant="tonal" @click="userStore.editUser(item)"
                prepend-icon="mdi-pencil">Edit</v-btn>
              <v-btn color="#C62828" variant="tonal" @click="deleteUser(item.id!)"
                prepend-icon="mdi-delete">Delete</v-btn>
            </td>
          </tr>
        </tbody>
      </v-table>
    </v-card>
  </v-row>
  <ConfirmDialog ref="confirmDlg"></ConfirmDialog>
</template>
<style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@500&display=swap');

.edit-card1 {
  border-radius: 15px 15px 15px 15px
}

.text-color {
  color: white !important;
}

.text-font {
  font-family: 'Noto Sans Thai', sans-serif;
}

.text-font2 {
  font-family: 'Noto Sans Thai', sans-serif;
}
</style>
