<script setup lang="ts">
import ChartBarComponentBarDay from '@/components/chart/ChartBarComponentBarDay.vue';
import ChartBarComponentBarWeek from '@/components/chart/ChartBarComponentBarWeek.vue';
import ChartLineComponentMonth from '@/components/chart/ChartLineComponentMonth.vue';

</script>
<template>
    <v-row>
        <v-col>
            <ChartBarComponentBarDay></ChartBarComponentBarDay>
        </v-col>
        <v-col>
            <ChartBarComponentBarWeek></ChartBarComponentBarWeek>
        </v-col>
        <v-col>
            <ChartLineComponentMonth></ChartLineComponentMonth>
        </v-col>
        <v-col>

        </v-col>
    </v-row>
</template>