<script setup lang="ts">
import { ref } from 'vue';

const dialog = ref(false);
const title = ref("Title");
const desc = ref("Desc");
const ok = ref("Ok");
const cancel = ref("Cancel");
let onOk: (value: unknown) => void;
let onCancel: (reason?: any) => void;

const openDialog = (titleStr: string, descStr: string, okStr: string = "Ok", cancelStr: string = "Cancel") => {
  title.value = titleStr;
  desc.value = descStr;
  ok.value = okStr;
  cancel.value = cancelStr;
  dialog.value = true;
  return new Promise((resolve, reject) => {
    onOk = resolve;
    onCancel = reject;
  });
};
defineExpose({ openDialog });
function cancelFunc() {
  dialog.value = false;
  onCancel("Cancel");
}

function okFunc() {
  dialog.value = false;
  onOk("Ok");
}
</script>

<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" persistent width="auto">
      <v-card class="text-font2">
        <v-card-title class="text-h5">
          {{ title }}
        </v-card-title>
        <v-card-text>{{ desc }}</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green-darken-1" variant="text" @click="cancelFunc">
            {{ cancel }}
          </v-btn>
          <v-btn color="green-darken-1" variant="text" @click="okFunc">
            {{ ok }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@500&display=swap');

.text-font2{
  font-family: 'Noto Sans Thai', sans-serif;
}
</style>
